/* En assignant les couleurs à des variables et en les plaçant dans la pseudo-class ":root"
nous pouvons les réutiliser dans n'importe quel partie du document html.
Facilite le repérage couleurs et permet d'éviter les erreurs ainsi que
de modifier la couleur plus facilement si nous le souhaitons. */
:root {
    --main-blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey: #F2F2F2;
}

    /*------Général------*/

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
body {
    background-color: white;
    margin: 0 2%;
}
@media screen and (max-width: 767px) {
    body {
        margin: 0;
    }
    body section{
        margin: 0 5%;
    }
}

    /*------Textes------*/

.title {
    font-size: x-large;
    margin: 10px 0;
}
.text {
    font-size: medium;
    margin: 10px 0;
}
.filters-text {
    font-size:medium;
    font-weight: bold;
}
.subtitle {
    font-size: large;
    font-weight: bolder;
    margin: 0;
}
@media screen and (max-width: 767px){
    .title {
        font-size: 28px;
        margin: 10px 0;
    }
    .text {
        font-size: large;
        margin: 10px 0;
    }
}

    /*------Header------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
header img {
    width: 60%;
    margin-left: 15px;
}
.nav-links {
    width: 30%;
}
.nav-links ul {
    padding-left: 0;
    margin: 0;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 49%;
    padding: 28px 0;
    border-top:4px solid var(--grey);
}
.nav-links ul li:hover {
    border-top:4px solid var(--main-blue);
}
.nav-links ul li:hover>a {
    color: var(--main-blue);
}
@media screen and (max-width: 767px) {
    header {
        flex-direction: column;
        margin-bottom: 30px;
    }
    header img {
        display: block;
        margin: 20px auto;
        width: 60%;
    }
    .nav-links {
        width: 100%;
    }
    .nav-links ul li {
        padding: 15px 0;
        border-top: none;
        border-bottom:4px solid var(--grey);
        width: 50%;
    }
    .nav-links ul li:hover {
        border-top: none;
        border-bottom: 4px solid var(--main-blue);
    }
    .nav-links ul li:hover>a {
        color: var(--main-blue);
    }
}

    /*------Recherche------*/

form {
    display:flex;
    margin-top: 20px;
    margin-bottom: 40px;
}
#shape {
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color:var(--grey);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    line-height: 45px;
}
.fa-location-dot{
    color: black;
}
#searchbar {
    font-weight: bold;
    outline-style: none;
    border-left: none;
    border-right: none;
    border: 1px solid var(--grey);
    margin: 0 -4;
    padding: 0 12px;
    height: 45px;
    width: 20%;
}
@media screen and (min-width: 768px){
    #search-btn {
        background-color: var(--main-blue);
        color: white;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 45px;
        font-size:15px;
        font-weight:600;
        padding: 5px 15px;
    }
    #search-btn-small {
        display: none;
    }
}
@media screen and (max-width: 767px){
    #search-btn {
        display: none;
    }
    #search-btn-small {
    background-color: var(--main-blue);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    margin-left: -5px;
    }
    #searchbar {
        width: 80%;
    }
}

    /*------Filtres------*/
.filters-container {
    display: flex;
    margin-bottom: 35px;
}
.filters-container div p {
    margin-right: 20px;
}
.filters-div {
    display: flex;
    flex-wrap: wrap;
}
.filters-elem {
    margin-bottom: 10px;
}
.circle-shape {
    display: inline-block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 44px;
    background-color:var(--light-blue);
    z-index: 2;
    position: relative
}
.filters-box {
    border: 3px solid var(--grey);
    padding: 10px 20px;
    margin-left: -20px;
    margin-right: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}
.filters-elem:hover>.filters-box {
    transition: 0.5s;
    background-color: var(--grey);
    color: var(--main-blue);
}
.icon-color{
    color: var(--main-blue);
}
@media screen and (max-width:991px) {
    .filters-container {
        flex-wrap: wrap;
    }
    
}

    /*------Paragraphe nombres resultats------*/

#info {
    font-size: 80%;
    display: inline-block;
}
.fa-circle {
    color: var(--grey);
}
.fa-info {
    color: var(--main-blue);
}
#nbr-result-p {
    display: inline;
}

    /*------Résultats recherche------*/
       
        /*------Hébergements------*/

.section-result-container {
    display: flex;
    margin-top: 35px;
    margin-bottom: 50px;
}
.hebergements-container {
    display: flex;
    width: 68%;
    background-color: var(--grey);
    margin-right: 2%;
    padding: 2%;
    border-radius: 15px;
    flex-direction: column;
}
.hebergements-container a {
    font-size:medium;
    font-weight: bold;
    margin-top: 20px;
}
.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards {
    width: 31%;
    height: 170px;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.cards:hover {
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.5);
}
.img-hebergements{
    width: 96%;
    height: 90px;
    margin: 2%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-title {
    font-size:13px;
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
}
.card-subtitle {
    font-size: x-small;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 0;
    font-weight: 500;
}
.stars {
    margin-left: 15px;
    display: inline-flex;
}
.full-star {
    color: var(--main-blue);
}
.empty-star {
    color: var(--grey);
}
.fa-star {
    font-size: 70%;
}

        /*------Populaires------*/

.populaire-container {
    display: flex;
    width: 30%;
    padding: 2%;
    background-color: var(--grey);
    border-radius: 15px;
    flex-direction: column;
}
.populaire-title-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}
.populaire-cards-container {
    display: flex;
    flex-direction: column;
}
.populaire-cards {
    width: 96%;
    height: 120px;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 2%;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
}
.populaire-cards:hover {
    box-shadow:1px 1px 5px rgba(0, 0, 0, 0.5);
}
.pop-card-img-container {
    width: 40%;
}
.img-pop-hebergement {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pop-card-info {
    width: 56%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.pop-card-p-title {
    margin: 5px 0;
    font-size: smaller;
    font-weight: bold;
}
.pop-card-p-sub {
    margin: 0;
    font-size: x-small;
    font-weight: 500;
}
.pop-stars {
    margin-top: auto;
    margin-bottom: 5px;
    display: inline-flex;
}





/* @media screen and (max-width:991px) and (min-width: 768px) {
    .section-result-container {
        flex-direction: column-reverse;
        margin: 25px 0;
    }

    .populaire-container {
        display: flex;
        width: auto;
        padding: 2%;
        background-color: var(--grey);
        border-radius: 15px;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .populaire-cards-container {
        flex-direction: row;
    }

} */

@media screen and (max-width:767px) {
    .section-result-container {
        flex-direction: column-reverse;
        margin: 25px 0;
    }
    .hebergements-container {
        display: flex;
        width: 100%;
        background-color: white;
        max-width: 600px;
        
        /* padding: 2%; */
        /* border-radius: 15px; */
    }
    .cards-container {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .cards {
        width: auto;
        /* height: 170px; */
        /* margin-top: 20px; */
        /* margin-bottom: 10px; */
    }

    .populaire-container {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 0px;
        padding: 30px 5%;
    }
    .populaire-title-container {
        margin-bottom:  15px;
    }
    .populaire-cards {
        width: 100%;
        height: 120px;
        
        margin-top: 10px;
        margin-bottom: 0;
        box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    
}










    /*------Activités------*/

















